@charset "UTF-8";
/* Цвета фона */
/* Цвета текста */
/* Цвета рамок */
/* Цвета фона */
/* Цвета текста */
/* Цвета рамок */
/*Шапка*/
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 88px;
  margin: 0;
  position: relative;
  background-color: #FFFFFF;
  border: 0 solid #80949F;
  /*Иконки*/
  /*Иконки - изображения*/
  /*Иконка меню*/
  /*Иконка для ремонта и для статуса*/
  /*Скрытые иконки*/
  /*Логотип*/
  /*Логотип кнопка*/
  /*Разделитель*/
  /*Разделитель снизу*/ }
  .header__icon {
    margin-top: 24px;
    margin-bottom: 24px; }
  .header__img {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    background-color: #FF3E79;
    cursor: pointer; }
  .header__icon--burger {
    margin-right: 16px;
    margin-left: 16px; }
  .header__icon--repair, .header__icon--status {
    margin-right: 16px; }
  .header__icon--phone, .header__icon--message, .header__icon--contacts, .header__divider--first {
    display: none; }
  .header__container {
    width: 97px;
    height: 50px;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-right: 16px; }
  .header__logo {
    background-color: #FFFFFF;
    border: none; }
  .header__divider {
    margin-bottom: 28px;
    margin-top: 28px;
    margin-right: 20px; }
  .header__svg {
    display: block;
    width: 100%;
    height: 1px;
    margin: 0;
    position: absolute; }

@media (min-width: 768px) {
  .header {
    /*Иконка меню*/
    /*Иконка для ремонта, для звонков, для сообщений*/
    /*Иконка контакты*/
    /*Иконка для статуса*/
    /*Логотип*/ }
    .header__icon--burger {
      margin-right: 20px;
      margin-left: 24px; }
    .header__icon--repair, .header__icon--phone, .header__icon--message {
      display: flex;
      margin-right: 16px; }
    .header__divider--first {
      display: flex; }
    .header__icon--contacts {
      display: flex;
      margin-right: 20px; }
    .header__icon--status {
      margin-right: 24px; }
    .header__container {
      width: 97px;
      height: 50px;
      margin-top: 19px;
      margin-bottom: 19px;
      margin-right: 251px; } }

@media (min-width: 1440px) {
  /*Шапка скрыта*/
  .header {
    display: none;
    /*Разделители снизу скрыты*/ }
    .header__svg {
      display: none; } }

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%; }

@media (min-width: 1440px) {
  .main-container {
    display: flex;
    flex-direction: column;
    width: 1120px;
    margin-left: 320px;
    box-sizing: border-box; } }

/* Цвета фона */
/* Цвета текста */
/* Цвета рамок */
/*Основная секция*/
.section {
  width: 100%;
  height: 100%;
  background-color: #F8F8F8;
  margin-top: 0;
  margin-bottom: 24px;
  padding-top: 24px;
  /*ШАПКА*/
  /*Скрытые иконки*/
  /*Секция заголовок+иконки*/
  /*Заголовок секции*/
  /*Боковой разделитель*/
  /*Заголовок*/
  /* Основной контент */
  /* Блок текст*/
  /*Скрытый текст*/
  /* Секция читать далее */
  /* Кнопка */
  /*Левая секция (SVG-стрелки)*/
  /*Правая секция - текст*/
  /* Изображение */ }
  .section__actions {
    display: none; }
  .section__header {
    max-width: 304px;
    height: 40px;
    padding: 0;
    margin-right: 16px;
    margin-bottom: 24px; }
  .section__title {
    max-width: 304px;
    min-height: 40px;
    display: flex; }
  .section__highlight {
    min-width: 4px;
    min-height: 40px;
    margin-right: 12px; }
  .section__title-text {
    font-family: "TT Lakes", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    max-width: 288px;
    min-height: 40px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap; }
  .section__content {
    display: block;
    width: 100%;
    min-height: 322px;
    margin: 0; }
  .section__text {
    width: 100%;
    max-width: 288px;
    min-height: 90px;
    margin-right: 16px;
    margin-left: 16px;
    font-family: "TT Lakes", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em; }
  .section__text-part--hidden, .section__text-extra {
    display: none; }
  .section__expand {
    max-width: 132px;
    min-height: 24px;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-left: 16px; }
  .section__expand-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;
    background-color: #F8F8F8;
    border: none;
    max-width: 132px;
    height: 24px;
    cursor: pointer; }
  .section__expand-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px; }
  .section__expand-text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    height: 24px;
    padding: 0;
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21; }
  .section__image {
    width: 100%;
    max-width: 532px;
    height: auto;
    border: none; }

@media (min-width: 768px) {
  /*Основная секция*/
  .section {
    /*ШАПКА*/
    /*Заголовок секции*/
    /*Боковой разделитель*/
    /*Заголовок*/
    /* Основной контент */
    /* Блок текста и кнопки */
    /* Блок текст*/
    /*Вторая часть текста*/
    /*Скрытый текст*/
    /* Секция читать далее */
    /* Изображение */ }
    .section__title {
      max-width: 257px;
      min-height: 40px;
      margin-right: 512px;
      margin-bottom: 32px; }
    .section__highlight {
      margin-right: 20px; }
    .section__title-text {
      max-width: 233px; }
    .section__content {
      display: flex;
      max-width: 720px;
      max-height: 208px;
      min-height: 208px;
      margin: 32px 25px 40px 24px; }
    .section__text-block {
      min-width: 312px;
      min-height: 208px; }
    .section__text {
      max-width: 312px;
      min-height: 160px;
      margin-right: 48px;
      margin-left: 0;
      margin-bottom: 10px;
      padding: 0;
      line-height: 20px; }
    .section__text-part--first {
      margin: 0; }
    .section__text-part--hidden {
      display: flex; }
    .section__text-extra {
      display: none; }
    .section__expand {
      margin: 0; }
    .section__image {
      max-width: 360px;
      min-height: 208px;
      border-radius: 6px; } }

@media (min-width: 1440px) {
  /*Основная секция*/
  .section {
    padding: 1px;
    box-sizing: border-box;
    /*Шапка*/
    /* Секция заголовок и иконки */
    /* Контейнер для иконок */
    /* Заголовок секции */
    /* Боковой разделитель */
    /* Заголовок текст */
    /*Иконки - изображения*/
    /*Текст для иконок*/
    /*контейнер ремонта*/
    /*контейнер статуса*/
    /* Основной контент */
    /*блок текста и кнопки*/
    /* Текст */
    /* Блок Изображение */
    /* Изображение */ }
    .section__header {
      display: flex;
      max-width: 1096px;
      min-height: 40px;
      margin-top: 42px; }
    .section__actions {
      display: flex;
      align-items: center;
      cursor: pointer; }
    .section__title {
      align-items: center;
      max-width: 266px;
      margin-right: 450px;
      margin-bottom: 0; }
    .section__highlight {
      width: 3px;
      margin-right: 30px; }
    .section__title-text {
      font-family: "TT Lakes", sans-serif; }
    .section__action-btn {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      border: none;
      padding: 0;
      margin: 0;
      background-color: #FF3E79; }
    .section__action-text {
      width: 125px;
      height: 24px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      text-align: center;
      margin-right: 8px; }
    .section__action--repair {
      margin-right: 32px; }
    .section__action--status {
      margin-right: 30px; }
    .section__content {
      display: flex;
      min-width: 1057px;
      min-height: 307px;
      margin: 16px 28px 51px 34px; }
    .section__text-block {
      display: block;
      min-width: 490px;
      min-height: 208px;
      margin: 10px 36px 100px 0; }
    .section__text {
      max-width: 490px;
      min-height: 160px;
      line-height: 20px;
      margin: 0 0 14px 0; }
    .section__text-part--hidden {
      display: flex; }
    .section__text-extra {
      display: contents; }
    .section__image {
      width: 100%;
      min-width: 532px;
      max-width: 532px;
      min-height: 307px;
      border-radius: 6px; }
    .section__picture {
      min-width: 532px; }
  /* Горизонтально прокручиваемое меню */
  /* Основной контейнер для меню */
  .scroll__menu {
    max-width: 1063px;
    min-height: 82px;
    margin: 8px 22px 0 34px;
    overflow: visible; }
  /* Прокручиваемый список */
  .scroll__menu-list {
    flex-wrap: wrap;
    gap: 0 10px;
    overflow: visible;
    margin: 0; }
  /* Кнопки в меню */
  .scroll__menu-item {
    max-width: 233px; }
  /*Размытие у меню*/
  .scroll__menu-gradient {
    display: none; }
  .scroll__menu-item--active {
    min-width: 233px; } }

/* Цвета фона */
/* Цвета текста */
/* Цвета рамок */
.menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  /*Шапка*/
  /*Иконки*/
  /*Кнопка для иконки*/
  /*Кнопка в шапке при наведении*/
  /*Иконка меню*/
  /*Логотип*/
  /*Иконка статус*/
  /*МЕНЮ слево закреп*/
  /*Секция меню*/
  /*Список меню - кнопки*/
  /*Боковой разделитель*/
  /* Кнопки в меню */
  /*Активная кнопка*/
  /*Секция контакты*/
  /*Иконки внизу меню*/
  /*Кнопки для иконок*/
  /*Кнопка в меню при наведении*/
  /*отступы между иконками*/
  /*Секция ссылки почта и телефон*/
  /*Ссылки телефон и почта при наведении*/
  /*Ссылка почта*/
  /*Ссылка телефон*/
  /*Секция языки*/
  /*Ссылки языки*/
  /*Ссылки языки при наведении*/
  /*Активная ссылка языка*/ }
  .menu--open {
    transform: translateX(0); }
  .menu__header {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0; }
  .menu__header-icon {
    width: 40px;
    height: 40px; }
  .menu__header-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.2s; }
  .menu__header-button:hover {
    transform: scale(1.2); }
  .menu__header--icon-burger {
    margin: 24px 16px 28px 16px; }
  .menu__header--logo-container {
    width: 97px;
    height: 51px;
    margin: 18px 94px 22px 0; }
  .menu__header--icon-status {
    margin: 24px 16px 28px 0; }
  .menu__section {
    position: relative; }
  .menu__section-list {
    width: 214px;
    height: 364px;
    display: block;
    position: relative;
    margin: 0 21px 32px 0; }
  .menu__section-highlight {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 4px;
    min-height: 32px; }
  .menu__section-item {
    display: block;
    padding: 0;
    margin-left: 16px;
    margin-bottom: 24px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-family: "TT Lakes", sans-serif;
    transition-property: color;
    transition-duration: 0.2s; }
  .menu__section-item:hover {
    color: #7E7E82; }
  .menu__section-item--active {
    color: #7E7E82; }
  .menu__section-contact {
    width: 196px;
    height: 124px;
    margin-left: 16px;
    margin-bottom: 8px; }
  .menu__section-icon {
    display: flex; }
  .menu__section-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #FF3E79;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: transform;
    transition-duration: 0.2s; }
  .menu__section-button:hover {
    transform: scale(1.2); }
  .menu__section--icon-wrapper {
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 16px; }
  .menu__section--contact-mail, .menu__section--contact-phone {
    display: block;
    transition-property: transform, color;
    transition-duration: 0.2s; }
  .menu__section--contact-mail:hover, .menu__section--contact-phone:hover {
    transform: scale(1.2) translateX(15px);
    color: #7E7E82; }
  .menu__section--contact-mail {
    margin-bottom: 12px;
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    text-decoration: none; }
  .menu__section--contact-phone {
    font-family: "TT Lakes", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    text-decoration: none; }
  .menu__section-language {
    width: 87px;
    height: 24px;
    margin-left: 16px;
    margin-bottom: 32px; }
  .menu__section--language-link {
    text-decoration: none;
    color: #1B1C21;
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    transition-property: color;
    transition-duration: 0.2s; }
  .menu__section--language-link:hover {
    color: #7E7E82; }
  .menu__section--language-link--active {
    color: #7E7E82; }

@media (min-width: 340px) and (max-width: 360px) {
  .menu {
    /*Иконка меню*/
    /*Логотип*/
    /*Иконка статус*/
    /*МЕНЮ слево закреп*/
    /*Список меню - кнопки*/ }
    .menu__header--icon-burger {
      margin: 24px 16px 28px 24px; }
    .menu__header--logo-container {
      width: 97px;
      height: 51px;
      margin: 17px 111px 20px 0; }
    .menu__header--icon-status {
      margin: 24px 24px 28px 0; }
    .menu__section-list {
      width: 222px;
      height: 364px; } }

@media (min-width: 768px) {
  .menu {
    width: 320px;
    /*Иконка меню*/
    /*Логотип*/
    /*Иконка статус*/
    /*Секция меню*/
    /*Список меню - кнопки*/
    /* Кнопки в меню */
    /*Секция контакты*/
    /*Секция языки*/ }
    .menu__header--icon-burger {
      margin: 24px 16px 52px 24px; }
    .menu__header--logo-container {
      margin: 18px 78px 46px 0; }
    .menu__header--icon-status {
      margin: 24px 24px 52px 0; }
    .menu__section {
      width: 320px; }
    .menu__section-list {
      width: 222px;
      margin: 0 98px 268px 0; }
    .menu__section-item {
      margin-left: 24px;
      margin-bottom: 32px; }
    .menu__section-contact {
      margin-left: 24px;
      margin-bottom: 40px; }
    .menu__section-language {
      margin-left: 24px; } }

@media (min-width: 1440px) {
  .menu {
    transform: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-y: auto;
    width: 320px;
    height: 100%;
    background-color: #FFFFFF;
    /*Иконка меню*/
    /*Логотип*/
    /*Иконка статус*/
    /*Список меню - кнопки*/
    /* Кнопки в меню */
    /*Секция контакты*/
    /*Секция языки*/ }
    .menu__header--icon-burger {
      display: none; }
    .menu__header--logo-container {
      width: 97px;
      height: 51px;
      margin: 30px 118px 37px 22px; }
    .menu__header--icon-status {
      margin: 35px 31px 43px 0; }
    .menu__section-list {
      margin: 0 29px 241px 0; }
    .menu__section-item {
      margin-bottom: 28px; }
    .menu__section-contact {
      margin-left: 19px; }
    .menu__section-language {
      margin-left: 21px;
      margin-bottom: 0; } }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 99;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none; }

.overlay--visible {
  opacity: 1;
  pointer-events: auto; }

/* Цвета фона */
/* Цвета текста */
/* Цвета рамок */
/* Горизонтально прокручиваемое меню */
/* Основной контейнер для меню */
.scroll__menu {
  width: 100%;
  height: 40px;
  overflow: hidden;
  position: relative;
  margin: 0;
  /* Прокручиваемый список */
  /* Кнопки в меню */
  /*Размытие у меню*/
  /* Скрываю скролл в chrome */
  /* Первая активная кнопка */ }
  .scroll__menu-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 5px;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    /* Скрываю скролл в firefox */
    margin-left: 16px; }
  .scroll__menu-item {
    flex: 0 0 auto;
    max-width: 244px;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: #F8F8F8;
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    cursor: pointer; }
  .scroll__menu-gradient {
    width: 24px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); }
  .scroll__menu-list::-webkit-scrollbar {
    display: none; }
  .scroll__menu-item--active {
    min-width: 246px;
    height: 40px;
    border-color: #B8FFEC;
    background-color: #FFFFFF; }

@media (min-width: 768px) {
  /* Горизонтально прокручиваемое меню */
  /* Основной контейнер для меню */
  .scroll__menu {
    min-width: 776px;
    min-height: 40px;
    /* Прокручиваемый список */ }
    .scroll__menu-list {
      margin-left: 24px;
      gap: 0; } }

@media (min-width: 1440px) {
  /* Горизонтально прокручиваемое меню */
  /* Основной контейнер для меню */
  .scroll__menu {
    max-width: 1063px;
    min-height: 82px;
    margin: 8px 22px 0 34px;
    overflow: visible;
    /* Прокручиваемый список */
    /* Кнопки в меню */
    /*Размытие у меню*/ }
    .scroll__menu-list {
      flex-wrap: wrap;
      gap: 0 10px;
      overflow: visible;
      margin: 0; }
    .scroll__menu-item {
      max-width: 233px; }
    .scroll__menu-gradient {
      display: none; }
    .scroll__menu-item--active {
      min-width: 233px; } }

/* Цвета фона */
/* Цвета текста */
/* Цвета рамок */
/*ПРИ 320 - Свайпер*/
.brands {
  width: 100%;
  min-height: 196px;
  overflow-x: hidden;
  margin-bottom: 24px;
  /* Шапка*/
  /* Разделитель - полоска*/
  /* Текст шапки*/
  /* Текст шапки p*/
  /* Секция Свайпер */
  /* Секция свг код */
  /* Секция свг Леново */
  /* Секция свг Самсунг */
  /* Секция свг Эпл */
  /* Секция свг Соник */
  /* Секция свг Бош */
  /* Секция свг HP */
  /* Секция свг Асер */
  /* Секция свг Сони */
  /* Секция кнопки */
  /* кнопка - радиус */
  /* кнопка - скрыть/показать */
  /* Градиент справа */ }
  .brands__header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%); }
  .brands__header-divider {
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%; }
  .brands__header-title {
    margin: 16px; }
  .brands__header-title p {
    font-family: "TT Lakes", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82; }
  .brands__swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /* Слайды */ }
    .brands__swiper .swiper-slide {
      box-sizing: border-box;
      padding: 0 16px;
      margin-bottom: 20px;
      width: 240px;
      height: 72px;
      display: flex;
      justify-content: space-between;
      flex: 0 0 240px;
      align-items: center;
      /* touch-action: pan-x;*/
      border: 1px solid #EAEAEA;
      background-color: #FFFFFF;
      border-radius: 6px; }
  .brands__svg {
    padding: 0;
    flex-shrink: 0;
    margin: 20px 0; }
  .brands__lenovo {
    width: 108px;
    height: 32px; }
  .brands__samsung {
    width: 116px;
    height: 38px; }
  .brands__apple {
    width: 44px;
    height: 44px; }
  .brands__sonic {
    width: 128px;
    height: 21px; }
  .brands__bosch {
    width: 128px;
    height: 29px; }
  .brands__hp {
    width: 52px;
    height: 52px; }
  .brands__acer {
    width: 94px;
    height: 24px; }
  .brands__sony {
    width: 128px;
    height: 25px; }
  .brands__button {
    width: 40px;
    height: 40px;
    margin: 16px 0;
    cursor: pointer; }
  .brands__button-radius {
    background-color: #FFFFFF;
    border: 2px solid #FF3E79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer; }
  .brands__button-hidden {
    display: none; }
  .brands__fade {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 81px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    pointer-events: none;
    z-index: 1; }

.swiper {
  /* Секция контейнер для слайдов */
  /* Пагинация */
  /* Не активные точки */
  /* Активные точки */
  /* Скрыть последние два слайда */ }
  .swiper-wrapper {
    box-sizing: border-box;
    display: flex;
    margin: 16px; }
  .swiper-wrapper.expanded {
    max-height: none;
    overflow: visible; }
  .swiper-pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 204px !important;
    height: 12px;
    margin: 0 58px;
    padding: 0;
    overflow: hidden;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    /* Переопределяем отступ */ }
  .swiper-pagination-bullet {
    background-color: #DDDDDD;
    width: 12px;
    height: 12px;
    opacity: 1;
    border-radius: 50%;
    padding: 0;
    flex-shrink: 0; }
  .swiper-pagination-bullet-active {
    background-color: #B5B6BC; }
  .swiper-slide:nth-last-child(-n+2) {
    display: none; }

/* свойство для переворота стрелки */
.arrow--rotated {
  transform: rotate(180deg); }

/*ПРИ 768*/
@media (min-width: 768px) {
  .brands {
    min-height: 288px;
    margin-bottom: 32px;
    /* Шапка*/
    /* Текст шапки*/
    /* Секция Свайпер */
    /* кнопка - скрыть/показать */
    /* текст кнопки Скрыть */
    /* стрелки вниз */
    /* Градиент справа */ }
    .brands__header {
      height: 56px;
      background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%); }
    .brands__header-title {
      margin: 16px 0 16px 24px; }
    .brands__swiper {
      /* Слайды */ }
      .brands__swiper .swiper-slide {
        margin-bottom: 0;
        width: 224px;
        height: 72px;
        flex: 0 0 224px; }
    .brands__button-hidden {
      display: flex;
      width: 134px;
      height: 24px;
      margin: 24px 0 0 24px;
      padding: 0;
      background-color: #F8F8F8;
      border: none;
      cursor: pointer; }
    .brands__button-text {
      font-family: "TT Lakes", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1B1C21; }
    .brands__button-down {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      margin-right: 9px; }
    .brands__fade {
      display: none; }
  .swiper {
    margin: 24px;
    /* Секция контейнер для слайдов */
    /* Пагинация */
    /* Скрыть последние два слайда */ }
    .swiper-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      max-height: 160px;
      overflow: hidden;
      margin: 0; }
    .swiper-pagination {
      display: none; }
    .swiper-slide:nth-last-child(-n+2) {
      display: flex; } }

/*ПРИ 1440 - ДВА СОСТОЯНИЯ*/
@media (min-width: 1440px) {
  .brands {
    max-width: 1120px;
    /* Шапка*/
    /* Текст шапки*/
    /* Градиент справа */
    /* кнопка - скрыть/показать */
    /* стрелки вниз */ }
    .brands__header {
      height: 56px; }
    .brands__header-title {
      margin: 16px 0 16px 32px; }
    .brands__fade {
      display: none; }
    .brands__button-hidden {
      width: 133px;
      margin: 8px 0 14px 32px; }
    .brands__button-down {
      margin-right: 8px; }
  .swiper {
    /* Секция контейнер для слайдов */ }
    .swiper-wrapper {
      width: 1120px;
      gap: 16px 32px;
      margin-left: 32px; } }

/* Цвета фона */
/* Цвета текста */
/* Цвета рамок */
/*ПРИ 320 - Свайпер*/
.devices {
  width: 100%;
  min-height: 284px;
  overflow-x: hidden;
  margin-bottom: 24px;
  /* Шапка*/
  /* Разделитель - полоска*/
  /* Текст шапки*/
  /* Текст шапки p*/
  /* Секция Свайпер */
  /* Секция кнопки */
  /* кнопка - радиус */
  /* Градиент справа */
  /* кнопка - скрыть/показать */ }
  .devices__header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%); }
  .devices__header-divider {
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%; }
  .devices__header-title {
    margin: 16px; }
  .devices__header-title p {
    font-family: "TT Lakes", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82; }
  .devices__swiper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    /* Слайды */ }
    .devices__swiper .swiper-slide {
      box-sizing: border-box;
      margin-bottom: 20px;
      padding: 16px;
      max-width: 240px;
      min-width: 240px;
      height: 160px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 0 0 240px;
      align-items: center;
      /* touch-action: pan-x;*/
      border: 1px solid #EAEAEA;
      background-color: #FFFFFF;
      border-radius: 6px; }
    .devices__swiper .swiper-slide p {
      align-self: flex-start;
      margin: 0;
      font-family: "TT Lakes", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px; }
    .devices__swiper .swiper-slide .devices__button-radius {
      align-self: flex-end; }
  .devices-wrapper.expanded {
    max-height: none;
    overflow: visible; }
  .devices__button {
    width: 40px;
    height: 40px;
    margin: 16px 0;
    cursor: pointer; }
  .devices__button-radius {
    background-color: #FFFFFF;
    border: 2px solid #FF3E79;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer; }
  .devices__fade {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 81px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    pointer-events: none;
    z-index: 1; }
  .devices__button-hidden {
    display: none; }

/*ПРИ 768*/
@media (min-width: 768px) {
  .devices {
    width: 100%;
    min-height: 288px;
    /* Шапка*/
    /* Текст шапки*/
    /* Градиент справа */
    /* Секция Свайпер */
    /* кнопка - скрыть/показать */
    /* текст кнопки Скрыть */
    /* стрелки вниз */ }
    .devices__header {
      height: 56px;
      background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%); }
    .devices__header-title {
      margin: 16px 0 16px 24px; }
    .devices__fade {
      display: none; }
    .devices__swiper {
      /* Слайды */ }
      .devices__swiper .swiper-slide {
        margin-bottom: 0;
        box-sizing: border-box;
        max-width: 224px;
        min-width: 224px;
        flex: 0 0 224px; }
    .devices__button-hidden {
      margin: 24px 0 32px 24px;
      width: 134px;
      height: 24px;
      padding: 0;
      background-color: #F8F8F8;
      border: none;
      display: flex;
      cursor: pointer; }
    .devices__button-text {
      font-family: "TT Lakes", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1B1C21; }
    .devices__button-down {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      margin-right: 9px; }
  .swiper {
    margin: 24px;
    /* Секция контейнер для слайдов */
    /* Пагинация */ }
    .swiper-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      min-height: 160px;
      overflow: hidden;
      margin: 0; }
    .swiper-pagination {
      display: none; } }

/*ПРИ 1440*/
@media (min-width: 1440px) {
  .devices {
    max-width: 1120px;
    /* Шапка*/
    /* Текст шапки*/
    /* кнопка - скрыть/показать */
    /* стрелки вниз */ }
    .devices__header {
      height: 56px;
      background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%); }
    .devices__header-title {
      margin: 16px 0 16px 32px; }
    .devices__button_hidden {
      width: 133px;
      margin: 46px 0 14px 32px; }
    .devices__button_down {
      margin-right: 8px; }
  .swiper {
    /* Секция контейнер для слайдов */ }
    .swiper-wrapper {
      width: 1120px;
      max-height: 160px;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      gap: 24px 32px;
      /* Слайды */ }
      .swiper-wrapper .swiper-slide {
        box-sizing: border-box;
        margin-bottom: 0;
        max-width: 240px;
        min-width: 240px;
        flex: 0 0 240px; } }

/* Цвета фона */
/* Цвета текста */
/* Цвета рамок */
/*ПРИ 320 - Свайпер*/
.price {
  min-height: 508px;
  /* Грид контейнер скрыт на мобилке*/
  /* Шапка*/
  /* Разделитель - полоска*/
  /* Текст шапки*/
  /* Текст шапки p*/
  /* Секция Свайпер */
  /* див с услугой*/
  /* текст всех дивов в слайде*/
  /* див с ценой*/
  /* див с временем*/
  /* текст серый в слайде (константа во всех)*/
  /* текст черный в слайде (контент меняется)*/
  /* Секция кнопки */
  /* кнопка - радиус */
  /* текст ЗАКАЗАТЬ в кнопке*/
  /* Стрелочка в кнопке*/
  /* Градиент справа */
  /* Текст и кнопка в 4 смысловом блоке */
  /* Контейнер для текста */
  /* Текст */
  /* Контейнер для текста и кнопки */
  /* Текст коммерции */
  /* Кнопка коммерции > */
  /* свг код > */ }
  .price__table {
    display: none; }
  .price__header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 56px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%); }
  .price__header-divider {
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%; }
  .price__header-title {
    margin: 16px; }
  .price__header-title p {
    font-family: "TT Lakes", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82; }
  .price__swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /* Слайды */
    /* Секция контейнер для слайдов */ }
    .price__swiper .swiper-slide {
      box-sizing: border-box;
      padding: 16px;
      margin-bottom: 20px;
      max-width: 26px;
      min-width: 260px;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;
      flex: 0 0 260px;
      align-items: flex-start;
      position: relative;
      /* touch-action: pan-x;*/
      border: 1px solid #EAEAEA;
      background-color: #FFFFFF;
      border-radius: 6px; }
    .price__swiper .swiper-wrapper {
      box-sizing: border-box;
      display: flex;
      margin: 16px 28px 16px 8px; }
  .price__services {
    width: 228px;
    height: 56px; }
  .price__services p,
  .price__coast p,
  .price__time p {
    margin: 0 0 4px 0; }
  .price__coast {
    width: 74px;
    height: 38px; }
  .price__time {
    width: 81px;
    height: 38px; }
  .price__text-header {
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    color: #7E7E82;
    margin-bottom: 4px; }
  .price__text-content {
    font-family: "TT Lakes", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21; }
  .price__button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 119px;
    height: 32px;
    cursor: pointer; }
  .price__button-radius {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FF3E79;
    border: 2px solid #FF3E79;
    border-radius: 16px;
    width: 119px;
    height: 32px;
    padding: 0;
    cursor: pointer; }
  .price__button-text {
    font-family: "TT Lakes", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF; }
  .price__button-arrow {
    width: 24px;
    height: 24px;
    border-radius: 20px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .price__fade {
    position: absolute;
    right: 0;
    top: 0;
    width: 24px;
    height: 200px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    pointer-events: none;
    z-index: 1; }
  .price__content {
    width: 288px;
    min-height: 192px;
    margin: 16px 16px 40px 16px; }
  .price__disclaimer {
    position: relative;
    width: 288px;
    height: 138px; }
  .price__disclaimer-text {
    font-family: "TT Lakes", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0; }
  .price__commercial {
    width: 192px;
    height: 55px;
    display: flex;
    align-items: center;
    position: relative; }
  .price__commercial-text {
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin: 0; }
  .price__commercial-button {
    width: 24px;
    height: 27px;
    background-color: #F8F8F8;
    border: none;
    display: flex;
    position: absolute;
    bottom: 3px;
    right: 65px; }
  .price__commercial-icon {
    align-self: center; }

/*ПРИ 768*/
@media (min-width: 768px) {
  .price {
    min-height: 568px;
    /* Секция Свайпер скрыта */
    /* Шапка*/
    /* Текст шапки*/
    /* Грид таблица*/
    /* Отдельная секция заголовки - серые */
    /* Текст заголовков*/
    /* Обычная секция пункты табл - белые*/
    /* Текст пунктов*/
    /* Текст и кнопка в 4 смысловом блоке */
    /* Контейнер для текста */
    /* Контейнер для текста и кнопки */
    /* Кнопка коммерции > */
    /* свг код > */ }
    .price__swiper {
      display: none; }
    .price__header {
      margin-bottom: 31px; }
    .price__header-title {
      margin: 16px 0 16px 24px; }
    .price__table {
      width: 720px;
      max-height: 356px;
      margin: 60px 24px 24px 24px;
      display: grid;
      grid-template-columns: 348px 74px 81px 119px;
      gap: 24px;
      position: relative; }
    .price__header-items {
      position: absolute;
      top: -30px;
      left: 0;
      display: grid;
      grid-template-columns: 348px 74px 81px 119px;
      gap: 24px;
      background-color: #F8F8F8; }
    .price__grid-header {
      font-family: "TT Lakes", sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0;
      color: #7E7E82;
      /* Отступ только у первой колонки*/ }
      .price__grid-header:nth-child(4n + 1) {
        padding-left: 16px; }
    .price__table-item {
      width: 720px;
      height: 324px;
      display: grid;
      grid-template-columns: 348px 74px 81px 119px;
      gap: 24px;
      row-gap: 1px;
      background-color: #FFFFFF;
      border-radius: 6px;
      overflow: hidden; }
    .price__grid-item {
      display: flex;
      align-items: center;
      font-family: "TT Lakes", sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: #1B1C21;
      position: relative;
      /* линия разделитель между строк*/
      /* убираем разделитель у последней строки*/
      /* Отступ только у первой колонки*/ }
      .price__grid-item:nth-child(4n + 1)::after {
        content: "";
        position: absolute;
        left: 16px;
        bottom: -3px;
        width: 688px;
        height: 1px;
        background-color: #EAEAEA; }
      .price__grid-item:nth-last-child(-n+4)::after {
        display: none; }
      .price__grid-item:nth-child(4n + 1) {
        padding-left: 16px; }
    .price__content {
      min-width: 421px;
      min-height: 100px;
      margin: 16px 0 47px 24px; }
    .price__disclaimer {
      width: 421px;
      height: 60px;
      margin-bottom: 16px; }
    .price__commercial {
      width: 316px;
      height: 24px; }
    .price__commercial-button {
      height: 24px;
      bottom: 0px;
      right: 0;
      cursor: pointer; }
    .price__commercial-icon {
      align-self: center; } }

/*ПРИ 1440 */
@media (min-width: 1440px) {
  .price {
    min-height: 576px;
    /* Шапка*/
    /* Текст шапки*/
    /* Грид таблица*/
    /* Отдельная секция заголовки - серые */
    /* Текст заголовков*/
    /* Обычная секция пункты табл - белые*/
    /* Текст пунктов*/ }
    .price__header {
      height: 57px; }
    .price__header-title {
      margin: 16px 0 16px 32px; }
    .price__table {
      width: 1056px;
      max-height: 356px;
      margin: 60px 32px 24px 32px;
      gap: 130px; }
    .price__header-items {
      gap: 130px; }
    .price__grid-header {
      /* Отступ только у первой колонки*/ }
      .price__grid-header:nth-child(4n + 1) {
        padding-left: 24px; }
    .price__table-item {
      width: 1056px;
      gap: 130px;
      row-gap: 1px; }
    .price__grid-item {
      /* линия разделитель между строк*/
      /* убираем разделитель у последней строки*/
      /* Отступ только у первой колонки*/ }
      .price__grid-item:nth-child(4n + 1)::after {
        content: "";
        position: absolute;
        left: 24px;
        bottom: -3px;
        width: 1008px;
        height: 1px;
        background-color: #EAEAEA; }
      .price__grid-item:nth-last-child(-n+4)::after {
        display: none; }
      .price__grid-item:nth-child(4n + 1) {
        padding-left: 24px; } }

/* Цвета фона */
/* Цвета текста */
/* Цвета рамок */
.modal-call {
  display: none;
  box-sizing: border-box;
  width: 320px;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  background-color: #FFFFFF;
  /*Иконки*/
  /*Кнопка для иконки*/
  /*Иконка меню*/
  /* текст ОТПРАВИТЬ в кнопке*/
  /* Стрелочка в кнопке*/ }
  .modal-call--open {
    display: block;
    opacity: 1;
    pointer-events: auto; }
  .modal-call__header-icon {
    width: 40px;
    height: 40px; }
  .modal-call__header-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.2s; }
  .modal-call__header--icon-burger {
    margin: 24px 0 32px 16px; }
  .modal-call__section-title {
    max-width: 304px;
    min-height: 32px;
    display: flex; }
  .modal-call__highlight {
    min-width: 4px;
    min-height: 40px;
    margin-right: 12px; }
  .modal-call__title {
    font-family: "TT Lakes", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
    max-width: 288px;
    min-height: 32px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap; }
  .modal-call__form {
    height: 202px;
    width: 304px;
    position: relative;
    box-sizing: border-box; }
  .modal-call__input {
    box-sizing: border-box;
    width: 288px;
    height: 48px;
    padding: 12px 0 12px 16px;
    margin: 24px 16px 16px 16px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    font-size: 16px; }
  .modal-call__disclaimer p {
    margin: 0; }
  .modal-call__disclaimer {
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    color: #7E7E82;
    margin: 0 16px 18px 16px; }
  .modal-call__disclaimer-special {
    color: #FF3E79; }
  .modal-call__submit {
    width: 136px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 16px;
    background-color: #FF3E79;
    border: 2px solid #FF3E79;
    border-radius: 16px; }
  .modal-call__button-text {
    width: 89px;
    height: 24px;
    font-family: "TT Lakes", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF; }
  .modal-call__button-arrow {
    width: 27px;
    height: 24px;
    border-radius: 20px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center; }

/* Скрываем лейбл визуально, но оставляем для скринридеров */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/* Цвета фона */
/* Цвета текста */
/* Цвета рамок */
.footer {
  width: 100%;
  height: 129px;
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  /* Разделитель */
  /* Текст с датой */
  /* Стили для текста */
  /* Текст с политикой */
  /* Текст с инфой */ }
  .footer__highlight {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px; }
  .footer__text-data {
    width: 218px;
    height: 32px; }
  .footer__text-data p,
  .footer__text-politic p,
  .footer__text-info p {
    margin: 0;
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    color: #7E7E82; }
  .footer__text-politic {
    width: 214px;
    height: 16px; }
  .footer__text-info {
    width: 312px;
    height: 32px; }

@media (min-width: 768px) {
  .footer {
    width: 100%;
    height: 81px;
    margin-bottom: 25px;
    flex-direction: row;
    justify-content: space-between;
    /* Текст с инфой */
    /* Текст с датой */
    /* Стили для текста дата */
    /* Стили для текста инфо */ }
    .footer__text-info {
      width: 213px;
      height: 48px;
      margin-right: 24px; }
    .footer__text-data {
      margin-left: 24px; }
    .footer__text-data p {
      text-align: left; }
    .footer__text-info p {
      text-align: right; } }

@media (min-width: 1440px) {
  .footer {
    width: 1120px;
    height: 65px;
    margin-bottom: 21px;
    margin-left: 320px;
    align-items: baseline;
    /* Текст с датой */
    /* Текст с инфой */ }
    .footer__text-data {
      margin-left: 31px; }
    .footer__text-info {
      width: 330px;
      margin-right: 33px; } }

/* Regular */
@font-face {
  font-family: 'TT Lakes';
  src: url(fonts/TTLakes-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

/* Medium */
@font-face {
  font-family: 'TT Lakes';
  src: url(fonts/TTLakes-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

/* Bold */
@font-face {
  font-family: 'TT Lakes';
  src: url(fonts/TTLakes-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #F8F8F8; }


/*# sourceMappingURL=style.css.map*/