@import 'variables';

.menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  background-color: $bg-white;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  &--open {
    transform: translateX(0);
  }


  /*Шапка*/
  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  /*Иконки*/
  &__header-icon {
    width: 40px;
    height: 40px;
  }

  /*Кнопка для иконки*/
  &__header-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $bg-color;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.2s;
  }

  /*Кнопка в шапке при наведении*/
  &__header-button:hover {
    transform: scale(1.2);
  }

  /*Иконка меню*/
  &__header--icon-burger {
    margin: 24px 16px 28px 16px;
  }

  /*Логотип*/
  &__header--logo-container {
    width: 97px;
    height: 51px;
    margin: 18px 94px 22px 0;
  }

  /*Иконка статус*/
  &__header--icon-status{
    margin: 24px 16px 28px 0;
  }

}

@media (min-width: 768px) {

  .menu {
    width: 320px;

    /*Иконка меню*/
    &__header--icon-burger {
      margin: 24px 16px 52px 24px;
    }

    /*Логотип*/
    &__header--logo-container {
      margin: 18px 78px 46px 0;
    }

    /*Иконка статус*/
    &__header--icon-status{
      margin: 24px 24px 52px 0;
    }
  }

}

@media (min-width: 1440px) {

  .menu {
    transform: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow-y: auto;

    width: 320px;
    height: 100%;
    background-color: $bg-white;


    /*Иконка меню*/
    &__header--icon-burger {
      display: none;
    }

    /*Логотип*/
    &__header--logo-container {
      width: 97px;
      height: 51px;
      margin: 30px 118px 37px 22px;
    }

    /*Иконка статус*/
    &__header--icon-status{
      margin: 35px 31px 43px 0;
    }

  }

}
