@import 'variables';

/*Модалка-фидбэк*/
.modal-feedback {
  box-sizing: border-box;
  width: 320px;
  height: 100%;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  transform: translateX(100%);
  visibility: hidden;

  position: fixed;
  top: 0;
  right: 0;

  z-index: 200;

  background-color: $bg-white;

  /*Модалка-фидбэк - класс для добавления*/
  &--open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }

  /*Вертикальный разделитель*/
  &__highlight-vertical {
    display: none;
  }

  /*Иконки*/
  &__header-icon {
    width: 40px;
    height: 40px;
  }

  /*Кнопка для иконки*/
  &__header-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $bg-color;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.2s;
  }

  /*Иконка меню*/
  &__header--icon-burger {
    margin: 24px 0 32px 16px;
  }

  /*Секция заголовок*/
  &__section-title {
    max-width: 304px;
    min-height: 40px;
    display: flex;
  }

  /*Разделитель слева*/
  &__highlight {
    min-width: 4px;
    min-height: 40px;
    margin-right: 12px;
  }

  /*Текст заголовка*/
  &__title {
    box-sizing: border-box;
    font-family: "TT Lakes", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: $text;

    max-width: 288px;
    height: 40px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
  }

  /*Форма*/
  &__form {
    height: 441px;
    width: 304px;

    position: relative;
    box-sizing: border-box;

    margin: 24px 16px;
  }

  /*Поля формы*/
  &__input {
    box-sizing: border-box;
    width: 288px;
    height: 48px;

    padding: 12px 0 12px 16px;
    margin: 0 0 16px 0;

    border: 1px solid $border-withe;
    border-radius: 8px;
    font-size: 16px;
  }

  /*Поле сообщение*/
  &__message {
    height: 118px;
  }

  /*Текст после формы - параграф*/
  &__disclaimer p {
    margin: 0;
  }

  /*Текст после формы*/
  &__disclaimer {
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    color: $text-grey;

    margin: 0 16px 19px 16px;

  }

  /*Текст после формы - розовые спаны*/
  &__disclaimer-special {
    color: $text-pink;
  }

  /*Кнопка отправить*/
  &__submit {
    width: 136px;
    height: 32px;
    padding: 0;

    cursor: pointer;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    bottom: 0;
    right: 16px;

    background-color: $bg-color;
    border: 2px solid $bg-color;
    border-radius: 16px;
  }

  /* текст ОТПРАВИТЬ в кнопке*/
  &__button-text {
    width: 89px;
    height: 24px;

    font-family: "TT Lakes", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-align: right;
    text-transform: uppercase;
    color: $text-light;
  }

  /* Стрелочка в кнопке*/
  &__button-arrow {
    width: 27px;
    height: 24px;
    border-radius: 20px;
    padding: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {

  /*Модалка-фидбэк*/
  .modal-feedback {
    box-sizing: border-box;
    width: 440px;

    box-shadow: 16px 0 52px 0 $bg-blue,
    -2px 0 4px 0 $bg-grey-dark;

    /*Вертикальный разделитель*/
    &__highlight-vertical {
      display: block;
      width: 3px;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
    }

    /*Иконки*/
    &__header-icon {
      position: absolute;
      top: 32px;
      left: -62px;
    }

    /*Иконка меню*/
    &__header--icon-burger {
      margin: 0;
    }

    /*Секция заголовок*/
    &__section-title {
      max-width: 212px;
      min-height: 40px;
      display: flex;
      margin-top: 32px;
    }

    /*Разделитель слева*/
    &__highlight {
      min-width: 3px;
      min-height: 40px;
      margin-right: 30px;
    }

    /*Текст заголовка*/
    &__title {
      max-width: 179px;
    }

    /*Форма*/
    &__form {
      height: 429px;
      width: 376px;
      margin: 24px 32px;
    }

    /*Поля формы*/
    &__input {
      box-sizing: border-box;
      width: 376px;

      margin: 0 0 16px 0;
    }

    /*Текст после формы*/
    &__disclaimer {
      width: 376px;
      height: 48px;
      margin: 0 0 23px 0;
    }

    /*Кнопка отправить*/
    &__submit {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

}
