@import 'variables';


.modal-call {
  display: none;
  box-sizing: border-box;
  width: 320px;
  height: 100%;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;


  position: fixed;
  top: 0;
  right: 0;

  z-index: 200;

  background-color: $bg-white;

  &--open {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }


  /*Иконки*/
  &__header-icon {
    width: 40px;
    height: 40px;
  }

  /*Кнопка для иконки*/
  &__header-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $bg-color;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.2s;
  }

  /*Иконка меню*/
  &__header--icon-burger {
    margin: 24px 0 32px 16px;
  }

  &__section-title {
    max-width: 304px;
    min-height: 32px;
    display: flex;
  }

  &__highlight {
    min-width: 4px;
    min-height: 40px;
    margin-right: 12px;
  }

  &__title {
    font-family: "TT Lakes", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;

    max-width: 288px;
    min-height: 32px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
  }

  &__form {
    height: 202px;
    width: 304px;

    position: relative;
    box-sizing: border-box;
  }

  &__input {
    box-sizing: border-box;
    width: 288px;
    height: 48px;

    padding: 12px 0 12px 16px;
    margin: 24px 16px 16px 16px;

    border: 1px solid #EAEAEA;
    border-radius: 8px;
    font-size: 16px;
  }

  &__disclaimer p {
    margin: 0;
  }

  &__disclaimer {
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    color: $text-grey;

    margin: 0 16px 18px 16px;

  }

  &__disclaimer-special {
    color: $text-pink;

  }

  &__submit {
    width: 136px;
    height: 32px;
    padding: 0;

    cursor: pointer;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    bottom: 0;
    right: 16px;

    background-color: $bg-color;
    border: 2px solid $bg-color;
    border-radius: 16px;
  }

  /* текст ОТПРАВИТЬ в кнопке*/
  &__button-text {
    width: 89px;
    height: 24px;

    font-family: "TT Lakes", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-align: right;
    text-transform: uppercase;
    color: $text-light;
  }

  /* Стрелочка в кнопке*/
  &__button-arrow {
    width: 27px;
    height: 24px;
    border-radius: 20px;
    padding: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

/* Скрываем лейбл визуально, но оставляем для скринридеров */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
