
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.96);
  z-index: 99;
  transition: opacity 0.3s ease;
  opacity : 0;
  pointer-events: none;
  visibility: hidden;

  &--visible {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }

  &--overlay-above-menu {
    z-index: 150;
  }
}



