@import 'variables';

/* Горизонтально прокручиваемое меню */
/* Основной контейнер для меню */
.scroll__menu {
  width: 100%;
  height: 40px;
  overflow: hidden;
  position: relative;
  margin: 0;

  /* Прокручиваемый список */
  &-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 5px;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch; /* Скрываю скролл в firefox */
    margin-left: 16px;
  }

  /* Кнопки в меню */
  &-item {
    flex: 0 0 auto;
    max-width: 244px;
    padding: 5px 10px;

    border: 2px solid transparent;
    border-radius: 6px;
    background-color: $bg-grey;

    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $text-grey;

    cursor: pointer;
  }

  /*Размытие у меню*/
  &-gradient {
    width: 24px;
    height: 40px;

    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;

    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  }

  /* Скрываю скролл в chrome */
  &-list::-webkit-scrollbar {
    display: none;
  }

  /* Первая активная кнопка */
  &-item--active {
    min-width: 246px;
    height: 40px;

    border-color: $border-green;
    background-color: $bg-white;
  }
}



@media (min-width: 768px) {

  /* Горизонтально прокручиваемое меню */
  /* Основной контейнер для меню */
  .scroll__menu {
    min-width: 776px;
    min-height: 40px;

    /* Прокручиваемый список */
    &-list {
      margin-left: 24px;
      gap: 0;
    }
  }


}

@media (min-width: 1440px) {

  /* Горизонтально прокручиваемое меню */
  /* Основной контейнер для меню */
  .scroll__menu {
    max-width: 1063px;
    min-height: 82px;
    margin: 8px 22px 0 34px;
    overflow: visible;

    /* Прокручиваемый список */
    &-list {
      flex-wrap: wrap;
      gap: 0 10px;
      overflow: visible;
      margin: 0;
    }

    /* Кнопки в меню */
    &-item {
      max-width: 233px;
    }

    /*Размытие у меню*/
    &-gradient {
      display: none;
    }

    &-item--active {
      min-width: 233px;
    }
  }



}
