// Цвета фона
$bg-color: #FF3E79;
$bg-white: #FFFFFF;
$bg-grey: #F8F8F8; // светло-серый фон
$bg-light-grey: #DDDDDD; // светло-серый фон для пагинации
$bg-dark-grey: #B5B6BC;  // темно-серый фон для пагинации


// Цвета текста
$text: #1B1C21;
$text-grey: #7E7E82;
$text-light: #FFFFFF;

// Цвета рамок
$border-green: #B8FFEC;   // светлая бюризовая рамка
$border-grey: #80949F;    // светлая серая рамка
$border-withe: #EAEAEA;   // светлая белая рамка
