// Цвета фона
$bg-color: #FF3E79;
$bg-white: #FFFFFF;
$bg-grey: #F8F8F8; // светло-серый фон


// Цвета текста
$text: #1B1C21;
$text-grey: #7E7E82;
$text-light: #FFFFFF;

// Цвета рамок
$border-green: #B8FFEC;   // светлая бюризовая рамка
